* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    
    max-width: 25px;
    /* background-color: blue; */
}

.main svg {
    color: rgb(28, 206, 120);
}

.main {
    margin: 0 auto;
    max-width: 500px;
}